<.flash_group flash={@flash} />
<div class="flex flex-col p-8 items-center text-center">
  <.link href={~p"/infinite-scroll"} class="text-white text-lg rounded m-4 p-2">
    - Infinite Scroll 📜
  </.link>

  <.link href={~p"/copy-to-clipboard"} class="text-white text-lg rounded m-4 p-2">
    - Copy To Clipboard 📋
  </.link>

  <.link href={~p"/loader"} class="text-white text-lg rounded m-4 p-2">
    - Loader ⏳
  </.link>

  <.link href={~p"/local-date-time"} class="text-white text-lg rounded m-4 p-2">
    - Local date Time ⏰
  </.link>
</div>
